<section class="valorize">
    <div class="wrapper">
      <nav>
        <img src="../../img/Logo.svg" alt="logo da bagrosa" />
        <ul>
          <a href="#produtos">
            <li> PRODUTOS </li>
          </a>
          <a href="#clientes">
            <li> CLIENTES </li>
          </a>
          <a href="#contato">
            <li> CONTATO </li>
          </a>
        </ul>
      </nav>
      <div class="intro">
        <h1>
          Valorize a experiência
          <br /> do seu cliente
        </h1>
        <p>
          A qualidade exclusiva que irá reforçar a preciosidade do seu produto
        </p>
      </div>
    </div>
    <img src="../../img/sacola-header.png" alt="imagem de produto da bagrosa, uma sacola azul" />
  </section>
  <div class="whatsapp">
    <a href="https://api.whatsapp.com/send?phone=5541987800620" target="_blank">
      <img src="../img/whatsapp.svg" class="whatsapp" alt="Icone do Whatsapp">
    </a>
  </div>
  <section class="contribua-desktop desktop-only">
    <div class="wrap-image">
      <h2>Contribua com o meio ambiente</h2>
      <img src="../../img/sacola-bege.png" alt="imagem de produto da bagrosa, uma sacola bege" />
    </div>
    <div class="wrap-itens">
      <p>
        A sacola de papel é durável, atraente e reciclável. Essencial para a
        proteção do meio ambiente.
      </p>
        <span>conheça nossas soluções ecológicas &#62;</span>
      <div class="itens">
        <div class="item">
          <h3>Presenteie</h3>
          <h4>
            Melhore a experiência de compra do seu cliente final
            presenteando-o com uma atraente embalagem.
          </h4>
        </div>
        <div class="item">
          <h3>Valorize</h3>
          <h4>
            Seu cliente é especial! Valorize cada detalhe entregando seus
            produtos em sacolas sofisticadas feitas em papel.
          </h4>
        </div>
        <div class="item">
          <h3>Seja visto</h3>
          <h4>
            Explore o potencial do marketing espontâneo que sua marca terá
            sendo vista além do seu ponto de venda.
          </h4>
        </div>
      </div>
      <a href="https://api.whatsapp.com/send?phone=5541987800620" class="MusgoButton">Quero saber mais</a>
    </div>
  </section>
  <section class="contribua-mobile mobile-only">
    <div class="text-contribua">
        <h2>Contribua com o meio ambiente</h2>
        <p>
        A sacola de papel é durável, atraente e reciclável. Essencial para a
        proteção do meio ambiente.
        <br />
        <br />
        <span>conheça nossas soluções ecológicas &#62;</span>
        </p>
    </div>
    <div class="img-itens">
      <img src="../../img/sacola-bege.png" alt="imagem de sacola bege" />
      <div class="itens">
        <div class="item">
          <h3>Presenteie</h3>
          <h4>
            Melhore a experiência de compra do seu cliente final
            presenteando-o com uma atraente embalagem.
          </h4>
        </div>
        <div class="item">
          <h3>Valorize</h3>
          <h4>
            Seu cliente é especial! Valorize cada detalhe entregando seus
            produtos em sacolas sofisticadas feitas em papel.
          </h4>
        </div>
        <div class="item">
          <h3>Seja visto</h3>
          <h4>
            Explore o potencial do marketing espontâneo que sua marca terá
            sendo vista além do seu ponto de venda.
          </h4>
        </div>
      </div>
    </div>
    <a href="https://api.whatsapp.com/send?phone=5541987800620" class="MusgoButton">Quero saber mais</a>
  </section>
  <section class="produtos" id="produtos">
    <div class="produtos-texto">
      <h3>NOSSOS PRODUTOS</h3>
      <h2>A escolha ideal para o seu negócio</h2>
    </div>
      <div class="produtos-itens">
        <div class="produtos-item">
          <img src="../img/slider/sacola.png" alt="imagem de uma sacola da bagrosa">
          <span>Sacolas de papel</span>
        </div>
        <div class="produtos-item">
          <img src="../img/slider/seda.png" alt="imagem de uma sacola e ao fundo papel seda">
          <span>Papel seda</span>
        </div>
        <div class="produtos-item">
          <img src="../img/slider/caixa.png" alt="imagem de uma caixa produzida pela bagrosa">
          <span>Caixas</span>
        </div>
        <div class="produtos-item">
          <img src="../img/slider/enxoval.png" alt="imagem com vários produtos produzidos pela bagrosa para enxoval">
          <span>Enxoval Gráfico</span>
        </div>
      </div>
    <p>
      Produzimos diversos tamanhos de sacolas personalizadas, além da
      possibilidade de produzir todo o enxoval de papelaria que acompanha
      seu produto.
    </p>
    <h4>Entregamos para todo o Brasil.</h4>
    <a href="https://api.whatsapp.com/send?phone=5541987800620" class="BlueButton">Entre em contato</a>
  </section>
