<footer>
  <div class="footer">
    <div class="items">
      <div class="logo">
        <img src="../../img/Logo-branco.svg" alt="" />
      </div>
      <div class="texto">
        <div class="info">
          <p>
            <strong>41 3276.1699</strong> <br />
            Rua Bom Jesus de Iguape, Nº 4236 <br />
            Boqueirão - Curitiba - PR <br />
            CEP 81650-030
          </p>
          <p>
            <strong>Horário de Atendimento:</strong>
            <br />
            Segunda a Sexta
            <br />
            das 08h às 12h
            <br />e das 13h às 18h
          </p>
        </div>
      </div>
      <div class="icones">
        <a href="https://www.instagram.com/bagrosaembalagens/">
          <img src="../../img/instagram.png" alt="" />
        </a>
        <a href="https://www.facebook.com/bagrosa/">
          <img src="../../img/Facebook.png" alt="" />
        </a>
        <img src="../../img/Tiktok.png" alt="" />
      </div>
    </div>
    <div class="nami">
      <p> 2024 | Desenvolvido por Nami Consultoria</p>
    </div>
  </div>
</footer>
