<div class="second">
    <div class="clientes">
      <h1>Nossos Clientes</h1>
      <div class="logos-clientes">
        <img src="../../img/logos-clientes/hafele.png" alt="" />
        <img src="../../img/logos-clientes/camilo.png" alt="" />
        <img src="../../img/logos-clientes/madero.png" alt="" />
        <img src="../../img/logos-clientes/delatorre.png" alt="" />
        <img src="../../img/logos-clientes/eletromar.png" alt="" />
        <img src="../../img/logos-clientes/mectronic.png" alt="" />
      </div>
    </div>
    <div class="design">
      <div class="design-texto">
        <h4>Design Personalizado</h4>
        <h2>Ganhe velocidade na tomada de decisão.</h2>
        <p>
          Adaptamos sua identidade à sacola e enviamos um modelo virtual
          para a aprovação, antes que seja impressa. 
        </p>
        <button class="MusgoButton">Quero saber mais!</button>

      </div>
      <img src="../../img/bolsa-preta.png" alt="" />
    </div>
    <div class="qualidade">
      <img src="../../img/qualidade.jpg" alt="" />
      <h1>Qualidade que acompanha sua marca</h1>
    </div>
    <div class="diferenciais">
      <div class="dif-titulo">
        <h4>Design Personalizado</h4>
        <h2>Diferenciais notáveis ao seu produto.</h2>
      </div>
      <div class="dif-texto">
        <p>
          No ramo gráfico desde 1998, a Bag Rosa tem se especializado como
          fornecedor de Sacolas Personalizadas de Papel, investindo em
          maquinário moderno. 
        </p>
        <button class="MusgoButton">Quero saber mais!</button>
      </div>
    </div>
    <div class="contato" id="contato">
        <h1>Ficou com alguma dúvida?</h1>
        <p>Fale com a gente para descobrir o que podemos fazer juntos.</p>
        <button class="BlueButton">Entrar em contato!</button>
        <div class="branco"></div>
        <div class="azul"></div>
    </div>
  </div>