<section class="clientes" id="clientes">
  <h1>Nossos Clientes</h1>
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide"> <img src="../../img/logos-clientes/1.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/2.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/3.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/4.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/5.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/6.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/7.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/8.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/9.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/10.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/11.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/12.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/13.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/14.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/15.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/16.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/17.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/18.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/19.png" alt="" /></li>
          <li class="glide__slide"> <img src="../../img/logos-clientes/20.png" alt="" /></li>
        </ul>
      </div>
    </div>
</section>
<section class="design">
  <div class="design-texto">
    <h4>Design Personalizado</h4>
    <h2>Ganhe velocidade na tomada de decisão.</h2>
    <p>
      Adaptamos sua identidade à sacola e enviamos um modelo virtual para a
      aprovação, antes que seja impressa. 
    </p>
    <button class="MusgoButton">Quero saber mais</button>
  </div>
  <img src="../../img/bolsa-preta.png" alt="" />
</section>
<section class="qualidade">
  <img src="../../img/qualidade.png" alt="" />
  <h1>Qualidade que acompanha sua marca</h1>
</section>
<section class="diferenciais">
  <div class="dif-titulo">
    <h2>Diferenciais notáveis ao seu produto.</h2>
  </div>
  <div class="dif-texto">
    <p>
      No ramo gráfico desde 1998, a Bag Rosa tem se especializado como
      fornecedor de Sacolas Personalizadas de Papel, investindo em maquinário
      moderno. 
    </p>
    <button class="MusgoButton">Quero saber mais</button>
  </div>
</section>
<section class="contato" id="contato">
  <h1>Ficou com alguma dúvida?</h1>
  <p>Fale com a gente para descobrir o que podemos fazer juntos.</p>
  <button class="BlueButton">Entre em contato</button>
  <div class="branco"></div>
  <div class="azul"></div>
</section>

<script>
const config = {
  type: "carousel",
  perView: 4,
  startAt: 2,
  focusAt: 'center',
  autoplay: true,
  hoverpause: true,
  animationDuration: 2000,
  loop: true
};
new Glide(".glide", config).mount();
</script>