<Swiper
        spaceBetween={0}
        width={0}
        slidesPerView={2}
        pagination={{ clickable: true }}
        scrollbar={{ draggable: true }}
        >
          <SwiperSlide>
            <img  src={BolsaAzul} alt="" />
            <span>Nome do Produto</span>
          </SwiperSlide>
          <SwiperSlide>
            <img  src={BolsaBege} alt="" />
            <span>Nome do Produto</span>
          </SwiperSlide>
          <SwiperSlide>
            <img  src={BolsaAzul} alt="" />
            <span>Nome do Produto</span>
          </SwiperSlide>
          <SwiperSlide>
            <img  src={BolsaBege} alt="" />
            <span>Nome do Produto</span>
          </SwiperSlide>
          <SwiperSlide>
            <img  src={BolsaBege} alt="" />
            <span>Nome do Produto</span>
          </SwiperSlide>
          <SwiperSlide>
            <img  src={BolsaBege} alt="" />
            <span>Nome do Produto</span>
          </SwiperSlide>
          
        </Swiper>